:root {
  --off-white: hsl(0, 0%, 98%);
  --mid-grey: hsl(0, 0%, 40%);
  --light-grey: hsl(0, 0%, 60%);
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--light-grey);
}

.match-info {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.match-info span {
  list-style-type: none;
  flex: 1 1 0;
}

span.venue {
  color: var(--mid-grey);
  font-size: 0.9rem;
}

span.team1 {
  text-align: right;
  flex: 1.5 1 0;
}

span.team2 {
  text-align: left;
  flex: 1.5 1 0;
}

span.time-score {
  text-align: center;
  font-weight: 700;
  flex: 1 0.5 0;
}

span.stage {
  text-align: right;
  text-transform: uppercase;
  color: var(--mid-grey);
  font-size: 0.9rem;
}

p.extra-info {
  text-align: center;
  font-style: italic;
  margin: 0;
  color: var(--mid-grey);
  font-size: 0.9rem;
}