:root {
  --bg: hsl(260, 10%, 10%);
  --bg-accent: hsl(260, 10%, 12%);
  --fg-accent: hsl(260, 10%, 60%);
  --fg: hsl(260, 10%, 80%);
  --bold-color: hsl(260, 100%, 50%);
  --bold-color-accent: hsl(260, 50%, 60%);
}

a {
  color: var(--bold-color);
  text-decoration: none;
}

a:visited {
  color: var(--bold-color-accent);
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}

header {
  text-align: center;
  background-color: var(--bg-accent);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--fg-accent);
}

#fixtures-list {
  width: 720px;
  margin: 0 auto;
}

footer {
  text-align: center;
  background-color: var(--bg-accent);
  border-top: 1px solid var(--fg-accent);
  margin: 40px 0 0 0;
  padding-bottom: 10px;
}

h1 {
  font-size: 1.6rem;
  margin: 0;
  padding: 10px 0;
}

h2 {
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--fg-accent);
  margin: 2rem 0 0.6rem 0;
}

@media only screen and (max-width: 720px) {
  h2 {
    font-size: 0.6rem;
  }
}

.match-info p {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0;
}

.match-info p span {
  list-style-type: none;
  flex: 1 1 0;
}

span.venue {
  color: var(--fg-accent);
  font-size: 0.9rem;
}

span.team1 {
  text-align: right;
  flex: 1.5 1 0;
}

span.team2 {
  text-align: left;
  flex: 1.5 1 0;
}

span.time-score {
  text-align: center;
  font-weight: 700;
  flex: 1 0.5 0;
}

span.stage {
  text-align: right;
  text-transform: uppercase;
  color: var(--fg-accent);
  font-size: 0.9rem;
}

p.extra-info {
  text-align: center;
  font-style: italic;
  margin: 0;
  color: var(--fg-accent);
  font-size: 0.9rem;
}